[Desktop Entry]
Version=1.0
Type=Link
Name=EO-College Resources
Comment=Learn more about Earth Observation
Icon=/usr/local/share/sarbian/images/saredu_logo_simplified-blue.png
URL=https://eo-college.org/resources/
