[Desktop Entry]
Version=1.0
Type=Application
Name=PolSARPro_v6.0_Biomass_Edition"
Comment=
Exec=/usr/bin/polsarpro
Icon=/opt/polsarpro/Tmp/PolSARproBio.ico
Path=/opt/polsarpro
Terminal=false
StartupNotify=false
Categories=Application;Geography;
