Source: asf-mapready
Section: science
Priority: optional
Maintainer: Jenkins <uso@asf.alaska.edu>
Build-Depends: debhelper (>= 9), gcc, g++, bison, flex, libcunit1-dev, libexif-dev, libfftw3-dev, libgdal-dev, libgeotiff-dev, libglade2-dev, libglib2.0-dev, libgsl-dev, libgtk2.0-dev, libjpeg-dev, libpng-dev, libproj-dev, libshp-dev, libtiff5-dev, libxml2-dev
Standards-Version: 3.9.8
Homepage: https://github.com/asfadmin/ASF_MapReady

Package: asf-mapready
Architecture: amd64 i386
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Terrain correct and geocode multi-pol SAR data.
 The MapReady Remote Sensing Tool Kit accepts level 1 detected SAR data, single
 look complex SAR data, and optical data from ASF and some other facilities. It
 can terrain correct, geocode, apply polarimetric decompositions to multi-pol
 SAR data, and save to several common imagery formats including GeoTIFF. Other
 software included in the package are an image viewer, metadata viewer, a
 projection coordinate converter, and a variety of command line tools.
