Source: asf-mapready
Section: science
Priority: optional
Maintainer: SARbian Team <sarbian@uni-jena.de>
Build-Depends: debhelper (>= 9), autotools-dev, libxau-dev:amd64, libxdmcp-dev:amd64, libjpeg62-turbo:amd64, libhdf5-dev, libproj12, x11proto-damage-dev, libcairo2-dev, libgdal-dev, libjbig0:amd64, x11proto-randr-dev, libfftw3-dev:amd64, libgraphite2-dev, libgtk2.0-dev, libglib2.0-dev, x11proto-xinerama-dev, libcurl4-gnutls-dev:amd64, libpango1.0-dev, libshp-dev:amd64, libgdk-pixbuf2.0-dev, libtiff5-dev:amd64, libproj-dev, libnetcdf-dev, libfl-dev:amd64, x11proto-composite-dev, gawk, libmagic1:amd64, perl-modules-5.28, pkg-config, libgsl-dev, flex, libperl5.28, libpixman-1-dev, perl, libfreetype6-dev, mime-support, libreadline7:amd64, x11proto-kb-dev, libglade2-dev:amd64, x11proto-render-dev, libmagic-mgc, libgeotiff2:amd64, libcunit1-dev, libtiff5:amd64, libpthread-stubs0-dev:amd64, libfakeroot:amd64, libsigsegv2:amd64, m4, file
Standards-Version: 3.9.8
Homepage: https://github.com/asfadmin/ASF_MapReady
#Vcs-Git: https://anonscm.debian.org/collab-maint/asf-mapready.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/asf-mapready.git

Package: asf-mapready
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Terrain correct and geocode multi-pol SAR data.
 The MapReady Remote Sensing Tool Kit accepts level 1 detected SAR data, single
 look complex SAR data, and optical data from ASF and some other facilities. It
 can terrain correct, geocode, apply polarimetric decompositions to multi-pol
 SAR data, and save to several common imagery formats including GeoTIFF. Other
 software included in the package are an image viewer, metadata viewer, a
 projection coordinate converter, and a variety of command line tools.
